[Desktop Entry]
Name=TriPeaks
Comment=A simple tripeaks solitaire game using libGDX
Type=Application
Exec=io.github.mimoguz.TriPeaks.sh
Icon=io.github.mimoguz.TriPeaks
Categories=Game;
Version=1.2.3